google-cloud-storage==1.10.0
google-cloud-bigquery==1.6.0
pandas==0.23.4
numpy==1.16.3
tensorflow==1.8.0
bleach>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
html5lib>=0.99999999 # not directly required, pinned by Snyk to avoid a vulnerability
